<script lang="typescript">
	import { selectedTempUnit, selectedSpeedUnit, convertTemp, convertSpeed, getTempSymbol, getSpeedSymbol } from '../../stores/globals';
	import type { Daily } from '../../model/Weather';
	import { slide } from 'svelte/transition';

	export let daily: Daily;
	export let date: Date;

	let visible = false;
	let directions = ['N', 'NE', 'NE', 'E', 'E', 'SE', 'SE', 'S', 'S', 'SW', 'SW', 'W', 'W', 'NW', 'NW', 'N'];

	function handleClick() {
		visible = !visible;
	}

	function getUVRating(index: number) {
		index = Math.floor(index);
		let result: String;
		if (index <= 2) {
			result = 'Low';
		} else if (index <= 5) {
			result = 'Moderate';
		} else if (index <= 7) {
			result = 'High';
		} else if (index <= 10) {
			result = 'Very High';
		} else {
			result = 'Extreme';
		}

		return result;
	}

	function getWindDirection(degree: number): String {
		return directions[Math.floor(degree / 22.5)];
	}
</script>

<main>
	<div class="mainCard" on:click={handleClick}>
		<div class="date">
			{date.toDateString()}
		</div>
		<div class="currentWeatherDesc">
			{daily.weather[0].description}
		</div>
		<div class="currentWeatherIcon">
			<img src="images/{daily.weather[0].icon}@2x.png" alt={daily.weather[0].description} />
		</div>
		<div class="tempMax">
			{convertTemp(daily.temp.max, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
		<div class="tempMin">
			{convertTemp(daily.temp.min, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
	</div>
	{#if visible}
		<div class="extraInfo" in:slide out:slide>
			<div class="windTitle">Wind</div>
			<div class="humidityTitle">Humidity</div>
			<div class="uvTitle">UV Index</div>
			<div class="windData">
				{convertSpeed(daily.wind_speed, $selectedSpeedUnit)}
				{getSpeedSymbol($selectedSpeedUnit)},
				{getWindDirection(daily.wind_deg)} {daily.wind_deg}{@html '&#176;'}
			</div>
			<div class="humidityData">
				{daily.humidity}%
			</div>
			<div class="uvData">
				{getUVRating(daily.uvi)}, {daily.uvi}
			</div>
			<div class="cloudCoverageTitle">Cloud Coverage</div>
			<div class="cloudCoverageData">{daily.clouds}%</div>
		</div>
	{/if}
</main>

<style lang="scss">
	.mainCard {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;

		&:hover {
			background-color: rgb(212, 209, 209);
		}

		.date {
			grid-column: 1;
			grid-row: 1;
			align-self: end;
		}

		.currentWeatherDesc {
			grid-column: 1;
			grid-row: 2;
		}

		.currentWeatherIcon {
			grid-column: 2;
			grid-row: 1 / span 2;
			justify-self: end;
		}

		.tempMax {
			grid-column: 3;
			grid-row: 1;
			align-self: end;
		}
		.tempMin {
			grid-column: 3;
			grid-row: 2;
		}
	}

	.extraInfo {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-template-rows: auto auto auto;
		// background-color: rgb(212, 209, 209);
		.windTitle {
			grid-column: 1;
			grid-row: 1;
		}
		.humidityTitle {
			grid-column: 1;
			grid-row: 2;
		}
		.uvTitle {
			grid-column: 1;
			grid-row: 3;
		}
		.cloudCoverageTitle {
			grid-column: 3;
			grid-row: 1;
		}
		.windData {
			grid-column: 2;
			grid-row: 1;
		}
		.humidityData {
			grid-column: 2;
			grid-row: 2;
		}
		.uvData {
			grid-column: 2;
			grid-row: 3;
		}
		.cloudCoverageData {
			grid-column: 4;
			grid-row: 1;
		}
	}
</style>
