<script lang="typescript">
	import type { IWeather } from '../../model/Weather';
	import DailyForecast from './DailyForecast.svelte';

	export let weatherData: IWeather;

	let date: Date = new Date();
	//date.setDate(date.getDate() + 1);

	function nextDay(index: number): Date {
		if (index > 0) {
			date.setDate(date.getDate() + 1);
		}
		return date;
	}
</script>

<main>
	{#each weatherData.daily as day, index}
		<div class="day">
			<DailyForecast daily={day} date={nextDay(index)} />
		</div>
	{/each}
</main>

<style lang="scss">
	main {
		display: grid;
		grid-template-columns: 50%;
		justify-content: center;
		.day {
			border-bottom: 1px solid black;
		}
	}
</style>
