<script lang="typescript">
	import { selectedTempUnit, convertTemp, getTempSymbol } from '../../stores/globals';
	import type { IWeather } from '../../model/Weather';
	import WeatherWarning from '../WeatherWarning.svelte';

	const upArrow = '&#129045;';
	const downArrow = '&#129047;';

	export let weatherData: IWeather;
	console.log(weatherData);

	let today: Date = new Date();

	function timeConverter(unixTime: number) {
		let date = new Date(unixTime * 1000);
		return date.getHours();
	}
</script>

<main>
	<!-- Checks if the alerts array exists -->
	{#if weatherData.alerts}
		<div class="weatherWarning">
			{#each weatherData.alerts as alert}
				<WeatherWarning {alert} />
			{/each}
		</div>
	{/if}
	<div class="mainInformation">
		<div class="weatherMinMax">
			Day {convertTemp(weatherData.daily[0].temp.max, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}{@html upArrow} Night {convertTemp(weatherData.daily[0].temp.min, $selectedTempUnit)}{@html getTempSymbol(
				$selectedTempUnit
			)}{@html downArrow}
		</div>
		<div class="currentWeatherIcon">
			<img src="images/{weatherData.current.weather[0].icon}@2x.png" alt={weatherData.current.weather[0].description} />
		</div>
		<div class="currentWeatherDesc">
			{weatherData.current.weather[0].description}
		</div>

		<div class="date">
			{today.toDateString()}
		</div>
		<div class="currentTemp">
			{convertTemp(weatherData.current.temp, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
		<div class="feelsLikeTemp">
			Feels like: {convertTemp(weatherData.current.feels_like, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
	</div>

	<div class="hourlyTemps" id="hourlyTemps">
		{#each weatherData.hourly.slice(0, 25) as hour}
			<div class="hourlyTemp">
				<div>
					{convertTemp(hour.temp, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
				</div>

				<div>
					<img src="images/{hour.weather[0].icon}.png" alt={hour.weather[0].description} />
				</div>

				<div>
					{#if timeConverter(hour.dt) <= 12}
						{timeConverter(hour.dt)}a.m.
					{:else}
						{timeConverter(hour.dt) - 12}p.m.
					{/if}
				</div>
			</div>
		{/each}
	</div>
</main>

<style lang="scss">
	main {
		display: grid;
		grid-template-columns: 50%;
		grid-template-rows: auto auto auto auto;
		justify-content: center;

		.mainInformation {
			display: grid;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto auto;

			.currentWeatherIcon {
				grid-row: 2;
			}

			.currentWeatherDesc {
				grid-column: 1;
				grid-row: 3;
			}

			.weatherMinMax {
				grid-column: 1;
				grid-row: 1;
			}
			.date {
				grid-column: 2;
				grid-row: 1;
			}

			.currentTemp {
				grid-column: 2;
				grid-row: 2;
				font-size: 48pt;
			}

			.feelsLikeTemp {
				grid-column: 2;
				grid-row: 3;
			}
		}
		.hourlyTemps {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin-top: 100px;
			overflow: auto;
			padding-bottom: 15px;

			.hourlyTemp {
				display: grid;
				grid-template-columns: auto;
				grid-template-rows: repeat(auto);
				row-gap: 5px;
				margin-right: 10px;
			}
		}
	}
</style>
