<script lang="typescript">
	import { selectedTempUnit, convertTemp, getTempSymbol } from '../../stores/globals';
	import WeatherWarning from '../WeatherWarning.svelte';
	import type { IWeather } from '../../model/Weather';

	export let weatherData: IWeather;

	// TODO: make these global?
	const upArrow = '&#129045;';
	const downArrow = '&#129047;';
	function timeConverter(unixTime: number) {
		let date = new Date(unixTime * 1000);
		return date.getHours();
	}

	let tomorrow: Date = new Date();
	tomorrow.setDate(tomorrow.getDate() + 1);

	// TODO: CHECK THIS!!!!! check that a warning that persists across days is displayed
	function checkEndTime(unixTimestamp: number): boolean {
		let endTime: Date = new Date(unixTimestamp * 1000);

		if (endTime.getDate() >= tomorrow.getDate()) {
			return true;
		}
		return false;
	}
</script>

<main>
	{#if weatherData.alerts}
		<div class="weatherWarning">
			{#each weatherData.alerts as alert}
				{#if checkEndTime(alert.end)}
					<WeatherWarning {alert} />
				{/if}
			{/each}
		</div>
	{/if}
	<div class="mainInformation">
		<div class="weatherMinMax">
			Day {convertTemp(weatherData.daily[1].temp.max, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}{@html upArrow} Night {convertTemp(weatherData.daily[1].temp.min, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}{@html downArrow}
		</div>
		<div class="currentWeatherIcon">
			<img src="images/{weatherData.daily[1].weather[0].icon}@2x.png" alt={weatherData.current.weather[0].description} />
		</div>
		<div class="currentWeatherDesc">
			{weatherData.daily[1].weather[0].description}
		</div>

		<div class="date">
			{tomorrow.toDateString()}
		</div>
		<div class="currentTemp">
			{convertTemp(weatherData.daily[1].temp.day, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
		<div class="feelsLikeTemp">
			Will feel like: {convertTemp(weatherData.daily[1].feels_like.day, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
		</div>
	</div>

	<div class="hourlyTemps">
		{#each weatherData.hourly.slice(((tomorrow.getHours() + (24 - tomorrow.getHours())) - tomorrow.getHours()), 49 - tomorrow.getHours()) as hour}
			<div class="hourlyTemp">
				<div>
					{convertTemp(hour.temp, $selectedTempUnit)}{@html getTempSymbol($selectedTempUnit)}
				</div>

				<div>
					<img src="images/{hour.weather[0].icon}.png" alt={hour.weather[0].description} />
				</div>

				<div>
					{#if timeConverter(hour.dt) <= 12}
						{timeConverter(hour.dt)}a.m.
					{:else}
						{timeConverter(hour.dt) - 12}p.m.
					{/if}
				</div>
			</div>
		{/each}
	</div>
</main>

<style lang="scss">
	main {
		display: grid;
		grid-template-columns: 50%;
		grid-template-rows: auto auto auto auto;
		justify-content: center;
	

	.mainInformation {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;

		.weatherMinMax {
			grid-column: 1;
			grid-row: 1;
		}

		.currentWeatherIcon {
			grid-row: 2;
		}

		.currentWeatherDesc {
			grid-column: 1;
			grid-row: 3;
		}

		.date {
			grid-column: 2;
			grid-row: 1;
		}

		.currentTemp {
			grid-column: 2;
			grid-row: 2;
			font-size: 48pt;
		}
		.feelsLikeTemp {
			grid-column: 2;
			grid-row: 3;
		}
	}
	.hourlyTemps {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-top: 100px;
		overflow: auto;
		padding-bottom: 15px;
		.hourlyTemp {
			display: grid;
			grid-template-columns: auto;
			grid-template-rows: repeat(auto);
			row-gap: 5px;
			margin-right: 10px;
		}
	}
}
</style>
