<footer>
    <div class="footer">Weather Forecast Website built using Svelte by Alex Tompkins</div>
</footer>

<style>
footer {
    padding: 40px;
    text-align: center;
}
.footer {
    color: #aaa;
    font-size: 14px;
    display: inline-block;
    padding: 20px;
    border-top: 1px solid #ddd;
}
</style>