<script lang="typescript">
	import Modal from './Modal.svelte';
	import OptionsDialog from './OptionsDialog.svelte';
</script>

<header>
	<img src="images/weathericon.jpeg" alt="Weather App Logo" />
	<h1>Local Weather Forecast</h1>

	<div class="options">
		<Modal>
			<div slot="trigger" let:open>
				<button class="optionsButton" on:click={open}>Options</button>
			</div>
			<div slot="header">
				<h1>Options</h1>
			</div>
			<div slot="content">
				<OptionsDialog />
			</div>
			<div slot="footer" let:store={{ close }}>
				<button on:click={close}>Close</button>
			</div>
		</Modal>
	</div>
</header>

<style>
	header {
		background: #f7f7f7;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}
	img {
        padding-top: 10px;
        margin: 0;
		max-width: 180px;
        max-height: 60px;
	}
	.options {
        padding: 20px;
		margin-left: auto;
	}
</style>
