<script>
	import { selectedTempUnit, selectedSpeedUnit } from '../stores/globals';
	import { TempUnit, SpeedUnit } from '../stores/enums';
</script>

<main>
	<h3>Preferred Temperature Unit</h3>
	<label>
		<input type="radio" bind:group={$selectedTempUnit} value={TempUnit.Kelvin} />
		Kelvin
	</label>

	<label>
		<input type="radio" bind:group={$selectedTempUnit} value={TempUnit.Celsius} />
		Celsius
	</label>

	<label>
		<input type="radio" bind:group={$selectedTempUnit} value={TempUnit.Fahrenheit} />
		Fahrenheit
	</label>

	<h3>Preferred Speed Unit</h3>
	<label>
		<input type="radio" bind:group={$selectedSpeedUnit} value={SpeedUnit.KpH} />
		KpH
	</label>

	<label>
		<input type="radio" bind:group={$selectedSpeedUnit} value={SpeedUnit.MpH} />
		MpH
	</label>
</main>

<style>
	h3 {
		border-bottom: 1px solid #ddd;
	}
</style>
