<script lang="typescript">
	import type { Alert } from '../model/Weather';

	export let alert: Alert;

	let visible = false;

	function handleClick() {
		visible = !visible;
	}
</script>

<button type="button" class="collapsible" class:closed={!visible} class:open={visible} on:click={handleClick}>{alert.event} warning</button>
{#if visible}
	<div class="warning">
		<p class="warningDescription">{@html alert.description}</p>
	</div>
{/if}

<style lang="scss">
	.collapsible {
		background-color: #d91b42;
		color: white;
		cursor: pointer;
		width: 100%;
		border: none;
		text-align: center;
		outline: none;
		text-decoration: underline;
		font-weight: bold;
		font-size: large;
		text-transform: uppercase;
		&.open {
			&:before {
				float: left;
				content: '\2796';
			}
			&:after {
				float: right;
				content: '\2796';
			}
		}
		&.closed {
			&:before {
				float: left;
				content: '\2795';
			}
			&:after {
				float: right;
				content: '\2795';
			}
		}
        
		&:hover {
			background-color: #ccc;
		}
	}

	.warning {
		overflow: hidden;
		background-color: #f1f1f1;
		text-align: left;
		column-width: 80%;

		.warningDescription {
			margin: 10px;
		}

	}
</style>