<script lang="typescript">
	import Tabs from './components/Tabs.svelte';
	import { oneCallURL, changeCoords } from './stores/globals';
	import type { IWeather } from './model/Weather';
	import TodayForecast from './components/forecasts/TodayForecast.svelte';
	import TomorrowForecast from './components/forecasts/TomorrowForecast.svelte';
	import SevenDayForecast from './components/forecasts/SevenDayForecast.svelte';
	import Header from './components/Header.svelte';
	import Footer from './components/Footer.svelte';
	import { fade } from 'svelte/transition';
	import { Circle } from 'svelte-loading-spinners';

	let weatherData: Promise<IWeather> = getData();

	// tabs
	let items: string[] = ['Today', 'Tomorrow', '7 Days'];
	let activeItem: string = 'Today';
	const tabChange = (e) => {
		activeItem = e.detail;
	};

	async function getData(): Promise<IWeather> {
		let position: GeolocationPosition;
		try {
			position = await getCoords();
			changeCoords(position.coords.latitude, position.coords.longitude);
		} catch (e) {
			// Error getting user location (suer denied request / no internet)
			window.alert('Error getting user location: Using Nicola, BC as default.');

			// if (e instanceof GeolocationPositionError) {
			// 	if (e.code == 1) {
			// 		console.log('Access Denied!');
			// 	} else if (e.code == 2 || e.code == 3) {
			// 		console.log('No Internet!');
			// 	}
			// }
		}

		let response = await fetch(oneCallURL);
		return await response.json();
	}

	async function getCoords(): Promise<GeolocationPosition> {
		return new Promise(function (resolve, reject) {
			navigator.geolocation.getCurrentPosition(resolve, reject);
		});
	}
</script>

<Header />
<main>
	<Tabs {activeItem} {items} on:tabChange={tabChange} />
	{#await weatherData}
		<div class="loading">
			<Circle color={'#d91b42'} />
		</div>
	{:then data}
		{#if activeItem === 'Today'}
			<div in:fade>
				<TodayForecast weatherData={data} />
			</div>
		{:else if activeItem === 'Tomorrow'}
			<div in:fade>
				<TomorrowForecast weatherData={data} />
			</div>
		{:else if activeItem === '7 Days'}
			<div in:fade>
				<SevenDayForecast weatherData={data} />
			</div>
		{/if}
	{/await}
</main>
<Footer />

<style>
	main {
		text-align: center;
	}
	.loading {
		display: flex; /* or grid */
		justify-content: center;
		align-items: center;
	}
</style>
